body,html{
  direction: rtl;
  height:100%;
  width:100%;
  left:0;
  top:0;
  padding:0;
  margin:0;
  background:#ddd;
  position:absolute;
}
.landing{
  display:flex;
  position:fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  align-items:center;
  justify-content: center;

}
.full-screen{
  position:fixed;
  width:calc(100%);
  left:0;
  top:0;
  height:calc(100%);
}
.round-page{
  border-radius:24px;
  border:12px solid #ddd;
}
.page{
  width:100%;
}
.bg0094D4{
  background:#0094D4;
}
.bgDEF1F9{
  background:#DEF1F9;
}
.bgDDD{
  background:#ddd;
}
.colorFFF{
  color:#fff;
}
.color005478{
  color:#005478;
}
.color323130{
  color:#323130;
}
.color605E5C{
  color:#605E5C;
}
.bold{
  font-weight:bold;
}
.size10{
  font-size: 10px; 
}
.size12{
  font-size: 12px; 
}
.size14{
  font-size: 14px; 
}
.size16{
  font-size: 16px; 
}
.size18{
  font-size: 18px; 
}
.size20{
  font-size: 20px; 
}
.size22{
  font-size: 22px; 
}
.size24{
  font-size: 24px; 
}
.size28{
  font-size: 28px; 
}
.margin-0-12{
  margin:0 12px;
}
.margin-12{
  margin:12px;
}
.padding-0-24{
  padding:0 24px;
}
.padding-0-12{
  padding:0 12px;
}
.round-6{
  border-radius:6px;
}

.button-1{
  color:#fff;
  background:dodgerblue;
  border:1px solid dodgerblue;
  height:30px;
  padding:0 12px;
  border-radius:4px;
}
.button-2{
  color:dodgerblue;
  background:#fff;
  border:1px solid dodgerblue;
  height:30px;
  padding:0 12px;
  border-radius:4px;
}